/*  */
html, body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

/*  */
.page-content-home {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-content-analysis {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
    display: flex;
    justify-content: center;
}
.pillar{
}
.brick{
    width: 100vh;
    height: 100vh;
    padding-top: 10%;
}
.artist-name{
    font-size: 18vh;
    padding-bottom: 10%;
}
.artist-image{
    max-width: 50%; 
    max-height: 50%;
    object-fit: cover;
    border-radius: 50%;
}

/*  */
input[type="text"] {
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-bottom: 1px solid #645979;
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
    font-size: 16px;
}
ul {
    list-style: none;
}
.list {
    width: 100%;
    background-color: #ffffff;
    padding: 15px 10px;
    outline: none;
    border: none;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
}
.list-items {
    padding: 10px 5px;
}
.list-items:hover {
    background-color: #dddddd;
}