{% extends "base.html" %}

{% block content %}

    <!-- main analysis form -->
    <div>

        <!-- application logo -->
        <img src="/static/lyrium_logo_text.png" class="img-fluid" alt="lyrium text logo">

        <form action="/analysis" method="POST">

            <!-- artist name text field -->
            <input name="artist_name" type="text" placeholder="" class="form-control">

            <!-- submit button -->
            <button type="submit" formmethod="post" class="btn btn-primary text-white form-control">Analyse</button>

        </form>

    </div>

{% endblock %}