{% extends "base.html" %}

{% block content %}

    <!-- page content -->
    <div class="container-fluid page-content-analysis">

        <!-- main section -->
        <div>

            <!-- artist information container -->
            <div class="pb-5 pt-5" style="width: 100vh; height: 100vh;">

                <!-- artist name -->
                <center><h1 style="font-size: 18vh;" class="pb-5">{{data.artist_name}}</h1></center>

                <!-- artist image -->
                <center><img class src="{{data.artist_image_url}}" class="img-fluid", style="max-width: 50%; max-height: 50%;"></center>

            </div>

            <!-- most common words chart -->
            <div class="pb-5 pt-5" style="width: 100vh; height: 100vh;">
                <center><h2>Most Common Words</h2></center>
                <canvas id="mcwChart"></canvas>
            </div>

            <!-- part of speech frequency chart -->
            <div class="pb-5 pt-5" style="width: 100vh; height: 100vh;">
                <center>
                    <h2>Part Of Speech Frequency</h2>
                    <div class="pt-5" style="width: 60vh;">
                        <canvas id="posChart" width="76" height="76"></canvas>
                    </div>
                </center>
            </div>

            <!-- sentiment analysis chart -->
            <div class="pb-5 pt-5" style="width: 100vh; height: 100vh;">
                <center><h2>Lyrics Sentiment</h2></center>
                <canvas id="sentimentChart" class="row"></canvas>
            </div>

        </div>

    </div>

    <!-- most common words visualisation -->
    <script>
   
        // processed data object
        var mcwData = {
            labels: {{ data.analysis.mcw.x | safe }},
            datasets: [
                {
                    label: "Most Common Words",
                    data: {{ data.analysis.mcw.y | safe }},
                    backgroundColor: [
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                        "rgba(255, 159, 64, 0.2)",
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                    ],
                    borderColor: [
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                        "rgba(255, 159, 64, 0.2)",
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                    ],
                    borderWidth: 1
                }
            ]
        }

        // context object
        const ctx_mcw = document.getElementById("mcwChart").getContext("2d");

        // chart object
        const mcwChart = new Chart(ctx_mcw, {
            type: "bar",
            data: mcwData,
            options: {
                events: [],
                scales: {
                    y: {
                        beginAtZero: true,
                        grid: {
                            display: false
                        }
                    },
                    x: {
                        grid: {
                            display: false
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });

    </script>

    <!-- part of speech frequency visualisation -->
    <script>

        // processed data object
        var posData = {
            labels: {{ data.analysis.pos.x | safe }},
            datasets: [
                {
                    label: "Part Of Speech Frequency",
                    data: {{ data.analysis.pos.y | safe }},
                    backgroundColor: [
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                        "rgba(255, 159, 64, 0.2)",
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                    ],
                    borderColor: [
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                        "rgba(255, 159, 64, 0.2)",
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                    ],
                    borderWidth: 1
                }
            ]
        }

        // context object
        const ctx_pos = document.getElementById("posChart").getContext("2d");

        // chart object
        const posChart = new Chart(ctx_pos, {
            type: "pie",
            data: posData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        display: false,
                        grid: {
                            display: false
                        }
                    },
                    x: {
                        display: false,
                        grid: {
                            display: false
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });

    </script>

    <!-- sentiment analysis visualisation -->
    <script>

        // processed data object
        var sentimentData = {
            labels: {{ data.analysis.sentiment.x | safe }},
            datasets: [
                {
                    label: "Text Sentiment Analysis",
                    data: {{ data.analysis.sentiment.y | safe }},
                    backgroundColor: [
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                    ],
                    borderColor: [
                        "rgba(255, 99, 132, 1)",
                        "rgba(54, 162, 235, 1)",
                    ],
                    borderWidth: 1
                }
            ]
        }

        // context object
        const ctx_sentiment = document.getElementById("sentimentChart").getContext("2d");

        // chart object
        const sentimentChart = new Chart(ctx_sentiment, {
            type: "bar",
            data: sentimentData,
            options: {
                events: [],
                indexAxis: "y",
                scales: {
                    x: {
                        min: -1,
                        max: 1,
                        grid: {
                            display: false
                        }
                    },
                    y: {
                        grid: {
                            display: false
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });

    </script>

{% endblock %}