{% extends "base.html" %}

{% block content %}

    <!-- page content -->
    <div class="container-fluid page-content-home">

        <!-- main analysis form -->
        <div class="w-50">

            <center>

                <!-- application logo -->
                <img src="/static/lyrium_logo_text.png" class="img-fluid pb-5" alt="lyrium text logo">

                <form action="/analysis" method="POST" autocomplete="off" class="pt-5">

                    <!-- artist name text field -->
                    <div class="form-group w-50">
                        <input name="artist_name" type="text" id="input" placeholder="Band/Artist name" class="form-control text-center">
                    </div>
                    <ul class="list"></ul>

                    <script src="../static/script.js"></script>

                    <!-- submit button -->
                    <button type="submit" formmethod="post" class="btn btn-primary text-white font-weight-bold w-25">Analyse Lyrics</button>

                </form>

            </center>

        </div>

    </div>

{% endblock %}